<h1>Sign Up</h1>

<%= form_with model: @user, url: users_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, type: "text", class: "form-control", placeholder: "Ex: Samuel Silva" %>

  </div>

  <div class="form-group">
    <%= form.label :username, for: "exampleInputEmail1" %>
    <%= form.text_field :username, type: "email", class: "form-control", placeholder: "Enter email" %>
    <small id="emailHelp" class="form-text text-muted">
      We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">

    <%= form.label :password, for: "exampleInputPassword1" %>
    <%= form.text_field :password, type: "password", class: "form-control",
                        id: "exampleInputPassword1", placeholder: "Password" %>
  </div>

  <div class="form-group">
    <%= form.label :about %>
    <%= form.text_area :about, class: "form-control",
                       placeholder: "Say something about you!" %>
    <small id="aboutlHelp" class="form-text text-muted">
      Shy? Don't worry, you can leave it empty.</small>
  </div>
  <%= submit_tag "Sign Up", type: "submit", class: "btn btn-primary" %>

<% end %>