<div class="h-100 bg-dark" >

<div class="h-100"  style="background-image: url('images/home-img.png');  background-size: cover;" >

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-1 text-white">Peep</h1>
      </div>
      <div class="col">

        <%= form_with model: @user, url: request.fullpath, local: true do |form| %>
            <div class="row">
              <div class="col">
                <%= form.text_field :username, type: "email", class: "form-control", placeholder: "Enter email" %>
              </div>
              <div class="col">
                <%= form.text_field :password, type: "password", class: "form-control", id: "exampleInputPassword1", placeholder: "Password" %>
              </div>
              <div class="col">
                <%= submit_tag "Login", type: "submit", class: "btn btn-primary" %>

              </div>

            </div>


        <% end %>
      </div>

    </div>
    <div class="row">
      <h1 class="display-4 text-white" >Just like twitter <br> but not quite</h1>
    </div>
    <div class="row">
      <%= link_to 'Sign Up!', new_user_path %>
    </div>


  </div>

</div>
</div>