<%= form_with local: true, url: users_path, method: "get" do  %>

  <div class="form-group">
    <%= label_tag :Type, "Serach for a user" %>
    <%= text_field_tag :name,"" ,type: "text",  class: "form-control",
                       placeholder: "User Name" %>

  </div>
  <%= submit_tag "Search", type: "submit", class: "btn btn-primary" %>

<% end %>
<%= render plain: @all_post.inspect %>


<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>

  <div class="form-group">
    <%= form.label :Type %>
    <%= form.text_area :body, class: "form-control",
                       placeholder: "What's on your mind ?" %>

  </div>
  <%= form.submit "Post", type: "submit", class: "btn btn-primary" %>

<% end %>


<h2>Posts</h2>
<% @user.posts.each do |post| %>

  <p>
    <strong>Content:</strong>
    <%= post.body %>
  </p>
<% end %>